Source: elvira
Section: libs
Priority: optional
Maintainer: Pim Vullers <pim@cs.ru.nl>
Build-Depends: cmake,
               debhelper (>= 7)
Standards-Version: 3.9.1
Homepage: http://github.com/credentials/elvira

Package: elvira
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Enhanced Library for Verifying, Issuing and Revealing Attributes
 fast and portable C library which provides both high-level and low-level
 (cryptographic) credential operations.

Package: elvira-dbg
Architecture: any
Section: debug
Priority: extra
Depends: elvira (= ${binary:Version}), ${misc:Depends}
Description: Enhanced Library for Verifying, Issuing and Revealing Attributes
 fast and portable C library which provides both high-level and low-level
 (cryptographic) credential operations.
 .
 This package contains debugging symbols for the elvira library.
